.one {
    text-align: center;
}

.two {
    text-align: center;
}

.three {
    text-align: center;
}

.four {
    text-align: center;
}

.sunset {
    width: 400px;
    height: 300px;
}

.button {
    background-color: rgb(53, 53, 238);
    
}
