@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:wght@500&family=Open+Sans:wght@300&family=Roboto&family=Rock+Salt&family=Signika+Negative&family=Syne+Tactile&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    cursor: pointer;
    margin: 10px;
    text-align: center;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #232220;
}

.nav_links  {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

.bg-img {
    text-align: center;
    background-image: url(../images/space.jpg);
    padding: 20em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 25%;
}

.welcome{
    color: black;
    text-align: center;
    background-size: 20em;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 100px;
    display: flex;
    align-items: column;
}

.content {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    background-color: #232220;
}

footer {
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    font-size: small;
    background-color: #232220;
}

.line {
    background-color: #232220;
    display: grid;
    grid-template-columns: 0.2fr 5fr;
}

.why {
    margin-bottom: 10px;
}

.foot-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    text-align: center;
}

.foot-cont li a {
    transition: all 0.3s ease 0s;
}

.foot-cont li a:hover {
    color: #0088a9;
}

.social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: center;
    align-items: center; */
    padding: 10px;
    /* margin: 5px; */
    grid-column: 2/3;
}

.info {
    padding-bottom: 15px;
}

.pictures {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    background-color: #edf0f1;
    color: black;
    font-size: medium;
    text-align: center;
    /* padding-left: 10px;
    padding-right: 10px; */

    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.pictures > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .dog {
    width: 70%;
    height: 100%;
    padding: 10px;
}

.elephant {
    width: 70%;
    height: 100%;
    padding: 10px;
}

.lightning {
    width: 70%;
    height: 100%;
    padding: 10px;
}

.baby {
    width: 70%;
    height: 100%;
    padding: 10px;
} */

.text {
    margin: auto;
}

.photo-para {
    background-color: #edf0f1;
    text-align: center;
    padding: 20px;
}

#photo-heading {
    padding-bottom: 20px;
}

/* Anything under 1024px
@media screen and (min-width: 1024px) {
    .pictures {
        --num-cols: 2;
        --row-height: 200px;
    }
} */